
.content{
	width: 1200px;
	margin: 0 auto;
}
/* ****************
        basic
******************* */
.wrap-company{
	margin-bottom: 40px;
}
.basic{
	position: relative;
	width: 900px;
	height: 540px;
}
.container-fluid{
	padding: 0;
}
.carousel-indicators {
    margin: 0 auto;
}
.carousel-indicators li{
	float: left;
}
.info{
	color: #333;
	width: 300px;
}
.info-star i{
	color: #ffb200;
}
i.star-gray{
	color: #999;
}
.jg-info{
	position: relative;
	background: #fafafa;
	height: 540px;
	padding: 0 20px;
}
.jg-header{
	margin-bottom: 10px;
}
.jg-face{
	width: 64px;
	height: 64px;
	overflow: hidden;
}
.jg-name{
	margin-left: 10px;
}
.jg-name h3{
	margin-bottom: 5px;
}
.contact{
	position: absolute;
	bottom: 20px;
	text-align: center;
}
.contact a{
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	color: #188eee;
	border-radius: 4px;
	border: 1px solid #188eee;
}
.contact a.on{
	background: #188eee;
	color: #fff;
}

.att,
.jg-introduce{
	margin-bottom: 20px;
}
.jg-introduce{
	color: #666;
}


.carousel-control.left i, .carousel-control.right i {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

/* ****************
        main
******************* */
.main-list{
	border-bottom: 1px solid #ddd;
}
.details-nav li{
	float: left;
	padding: 0 20px;
	font-size: 16px;
	line-height: 48px;
	cursor: default;
}
.details-nav li.on{
	color: #188eee;
	border-bottom: 3px solid #188eee;
}
.details-mod{
	padding: 20px 0;
}


/* 关于我们 */
.jg-intr{
	margin-top: 40px;
	text-align: center;
}
.intr-header{
	color: #333;
	font-weight: normal;
	text-align: center;
	line-height: 40px;
}
.jg-intr span{
	display: inline-block;
	width: 24px;
	height: 1px;
	background: #ddd;
	margin-bottom: 20px;
}
.jg-intr p{
	color: #333;
	line-height: 1.8;
	text-align:justify;
}

/* 老师 */
.th-item{
	width: 25%;
	max-height: 542px; 
	color: #666;
	margin-bottom: 30px;
	overflow: hidden;
}
.th-item p,
.th-item h1{
	margin-bottom: 16px;
}