 body{
	background: #ddd;
} 
i.star-gray{
	color: #999 !important;
}
a,a:hover{text-decoration: none;}
#header{
	margin-bottom: 0px;
}
/* 课程基本信息 */
.details .content{
	margin-bottom: 20px;
}

.basic{
	background: #fff;
	padding-bottom: 30px;
}
.content{
	width: 1200px;
	margin: 0 auto;
}
.details-content{
	width: 860px;
	background: #fff;
}
.details-company{
	width: 275px;
	margin-left: 20px;
	background: #fff;
}
.box-company{
	padding: 20px;
}
.basic-info{
	position: relative;
}
.coordinate{
	padding: 20px 0;
}
.coordinate i{
	padding: 0 5px;
}
.basic-banner{
	width: 600px;
	height: 340px;
	margin-right: 20px;
}
.basic-header h3{
	color: #333;
	cursor: default;
	margin-bottom: 0;
}
.basic-eva{
	color: #666;
	cursor: default;
	padding: 14px 0;
	font-size: 14px;
}
.basic-eva span{
	padding-right: 10px;
}
.basic-eva span i.iconfont{
	font-size: 12px;
	margin-right: 4px;
}
.basic-eva span a{
	font-size: 14px;
}
.basic-free{
	font-size: 30px;
	color: #ff3c00;
	line-height: 90px;
}
.basic-btn{
	position: absolute;
	bottom: 0;
}
.basic-btn a{
	display: inline-block;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	border-radius: 2px;
	border: 1px solid #188eee;
	color: #188eee;
}
.basic-btn a.on{
	background: #188eee;
	color: #fff;
}

.contact{
	overflow: hidden;
}

/* 课程详情 */
.details{
	margin-top: 20px;
	padding-bottom: 20px; 
}
.details-nav li{
	float: left;
	padding: 0 20px;
	font-size: 16px;
	line-height: 48px;
	cursor: default;
}
.details-nav li.on{
	color: #188eee;
	border-top: 3px solid #188eee;
}
.details-mod{
	padding: 0 20px 20px;
}
.personal{
	width: 100%;
	padding: 20px 0;
	color: #333;
}
.personal span{
	margin-right: 20px;
}
.introduce{
	padding: 20px 0;
	border-bottom: 1px dashed #ddd;
}
.mod-item h3{
	font-weight: normal;
	line-height: 64px;
	cursor: pointer;
}
/* 章节列表 */
.item-chapter{
	border-top: 1px solid #eee;
	/* border-bottom: 1px solid #eee; */
}
.item-header{
	line-height: 64px;
}
.mod-item-list ul li{
	height: 40px;
	line-height: 40px;
	background: #eee;
	margin-bottom: 6px;
}
.mod-item-list ul li a{
	display: block;
}
.mod-item-list ul li a:hover{
	background: #2b333b;
    color: #fff;
}
.mod-item-list ul li a i{
	font-size: 16px;
	margin: 0 10px;
}
.item-header i.iconfont{
	color: #666;
	cursor: default;
}
.item-header i.iconfont:hover{
	color: #333;
}
/* 学员评论 */
.evaluate-all{
	border: 1px solid #ddd;
	padding: 10px 10px;
	background: #ddd;
}
.evaluate-all .score{
	margin-left: 24px;
}
.evaluate-num{
	width: 125px;
	text-align: center;
	border-right: 1px solid #666;
}
.evaluate-num span{
	display: block;
}
.evaluate-num span.num{
	font-size: 30px;
	color: #ff3c00;
}
.evaluate-list{
	margin-left: 20px;
	height: 56px;
	line-height: 56px;
}
.evaluate-list label{
	font-size: 16px;
	padding-right: 20px;
}
.evaluate-info ul li{
	padding: 20px 10px;
	border-bottom: 1px solid #ddd;
}
.info-personal{
	width: 80px;
	text-align: center;
}
.info-face{
	margin: 0 auto;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
.info-star{
	margin-bottom: 5px;
}
.info-text{
	margin-bottom: 10px;
}
.info-star i{
	font-size: 14px;
	color: #ffb200;
}
.info-date{
	color: #666;
}
.info-add{
	border-top: 1px dashed #ddd;
	padding-top: 20px;
	margin-top: 20px;
}

.page-wrap{
	margin-top: 20px;
	text-align: center;
}
.page-box a{
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 60px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
	margin-right: 5px;
}
.page-box a.on{
	background: #188eee;
	color: #fff;
}

/* introduce */
.teacher{
	/* border-bottom: 1px solid #ddd; */
	margin-bottom: 40px;
}
.medias{
	margin-bottom: 15px;
}
.media{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 2px 12px 0 0;
}
.name{
	font-weight: 700;
	font-size: 18px;
}
.desc{
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	line-height: 24px;
}
.company-bit{
	margin-bottom: 20px;
}

/* 购买过的用户 */
table{
	border-collapse:collapse;
	color: #333;
}
thead{
	line-height: 50px;
	background: #f7f7f7; 
	text-align: left;
}
tr{
	border-bottom: 1px solid #ddd;
}
td,th{
	padding: 0 10px;
}

.payment td{
	line-height: 50px;
}
.t-user{
	width: 320px;
}
.t-date,
.t-price,
.t-num{
	width: 160px;
}

/* 推荐课程 */
.modal-like-item{
	margin: 20px 0;
	width: 236px;
    padding: 7px 7px 10px;
    border: 1px solid transparent;
    position: relative;
    /* margin-left: 9px; */
}
.modal-like-item:hover{
    border-color: #ddd;
    box-shadow: 1px 1px 2px 1px #ECECEC;
}
.item-status{
    position: absolute;
    height: 24px;
    width: 220px;
    padding: 0 4px;
    line-height: 24px;
    top: 107px;
    color: #fff;
    z-index: 1;
    background: rgba(0,0,0,.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
}
.modal-like-item p{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 40px;
    margin-bottom: 8px;
}
.item-line .price{
    color: #e85308;
    font-size: 16px;
}
.item-line .source{
    display: inline-block;
}
.item-line .source a{
    color: #999;
    font-size: 12px;
}
.item-line .source a:hover{
    color: #188EEE;
}

.list-img .list-status{bottom: 4px;}

/* 评价课程 */
.evaluare .basic .basic-inf{
	height: 100px;
	background-color: #eee !important;
	padding: 20px;
}
.evaluare .basic .basic-inf p{
	line-height: 24px;
}
.evaluare .basic .basic-info{margin-bottom: 20px;}
.evaluare .evaluate-all{margin-bottom: 10px;}
.evaluare .evaluate-form{background-color: #ddd;margin-bottom: 80px;}
.evaluare .evaluate-form form .mod-course{margin-bottom: 6px;}
/*.evaluare .evaluate-form form .mod-course .title{ width: 1000px; }*/
.evaluare .evaluate-form form .mod-course .select_shelter{width: 100%;}
.evaluare .evaluate-form form .mod-course .select_shelter select{width: 588px;}


/* 弹窗购买 */
#pay-modal{
	display: none;
}
#pay-modal .wrap .bl-header{
	padding: 10px 20px 0 20px;
	background: #188eee !important;
}
#pay-modal .wrap .bl-header span{
	font-size: 16px;
	color: #fff;
}
#pay-modal .wrap .bl-header i{
	color: #fff;
}
.box-info,.box-date,.box-price{
	padding: 10px 20px 0 20px;
}
#pay-modal .wrap-course{
	position: static;
	float: left;
	width: 50%;
}
#pay-modal .basic-btn{
	position: static;
	float: left;
	width: 50%;
	text-align: right;
}
#pay-modal .box-price span{
	font-size: 16px;
	color: #333;
}
#pay-modal .box-price em{
	font-style: normal;
	font-size: 22px;
	color: #E85308;
}
#pay-modal .basic-btn a{
	width: 110px;
	height: 40px;
	line-height: 40px;
	border:1px solid #d9d9d9;
	color: #333;
}
#pay-modal .basic-btn a.on{
	color: #fff;
}
#pay-modal .info-img{
	float: left;
}
#pay-modal .info-img img{
	width: 90px;
	height: 50px;
}
#pay-modal .info-title{
	padding-left: 10px;
	float: left;
}
#pay-modal .info-title h3,
#pay-modal .box-date h3{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
    line-height: 1.5;
    color: #333;
    font-weight: 500;
}
#pay-modal .info-title{
	display: inline-block;
    vertical-align: middle;
    color: #999;
}
#pay-modal .box-date{
   /*  border: 1px solid #e5e5e5;
   border-top: 0;
   padding: 5px 15px 6px;
   position: relative; */
}
#pay-modal .box-date p{
	font-size: 14px;
	color: #333;
}