*{
	box-sizing: border-box;
}
body{
	background: #edecea;
}
h3{
	color: #4871bf;
	margin-bottom: 20px;
}
a{
	color: #4871bf;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#header{
	padding-top: 20px;
	height: 120px;
	border-bottom: 1px solid #ddd;
}
.wellcome{
	margin-top: 34px;
	font-size: 14px;
	color: #666;
}
#header a{
	display: block;
    background: url(../img/logo.png) no-repeat;
    width: 297px;
    height: 81px;
}
#login{
	position: relative;
	background: #edecea;
}
#login .content{
	height: 520px;
}
.content{
	width: 1200px;
	margin: 0 auto;
}
.login-bg{
	position: absolute;
}
.wrap-box-login{
	position: absolute;
	right: 200px;
	width: 400px;
	padding: 20px 30px;
	margin-top: 100px;
	background: #fff;
	border-radius: 10px;
}
.login-box{
	/* width: 400px; */
    color: #6c6c6c;
    background: #fff;
}
.submit,
.username,
.password{
	margin-bottom: 30px;
}
input{
	 width: 100%; 
	padding: 12px 10px;
    font-size: 16px;
    line-height: 1;
    color: #777;
    background: #FCFCFC;
    border: 1px solid #CCC;
    border-radius: 8px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
    -webkit-transition: color .2s linear,border-color .3s linear;
    outline: none;
}
.submit button{
	width: 100%;
    height: 42px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    line-height: 42px;
    font-size: 16px;
    font-weight: 700;
    background: #4871bf;
    border-radius: 8px;
    cursor: pointer;
    zoom: 1;
    background: linear-gradient( #4871bf, #3962b0);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    color: #fff;
    border: 1px solid #1b4697;
}
.submit button:hover{
	background: linear-gradient( #5b89de, #3962b0);
}
.reset-password{
	position: absolute;
	left: 30px;
	bottom: 20px;
}
.switch-back{
	text-align: right;
}



.wrap-friend{
	background: #fff;
}

/* 找回密码 */
.fm_forget{
	width: 600px;
	margin: 0 auto;
}
.id_code{
	margin-bottom: 30px;
}
.box-forget h3{
	text-align: center;
}
img.id_code{
	margin-left: 20px;
}