/* **************
	左侧列表
***************** */
.aside-left ul{
	background: #fff;
	width: 200px;
	border: 1px solid #ddd;
	padding: 6px 0;
}
.aside-left ul li{
	height: 45px;
	line-height: 45px;
	cursor: default;
}
.aside-left ul li i{
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 20px;
	color: #333;
	font-size: 14px;
}
.aside-left ul li i.color{
	color: #188eee;
}

.aside-left ul li:hover span{
	display: block;
}
.aside-left ul li span{
	float: left;
	display: none;
	width: 4px;
	height: 100%;
	background: #ddd;
}
.aside-left ul li span.on{
	display: block;
	background: #188eee;
}

.main{
	margin: 0 0 40px 30px;
}

/* **************
	右侧内容
***************** */
.aside-item{
	position: relative;
	width: 100%;
}
.aside-item h1{
	padding: 0 32px 6px;
    font-size: 20px;
    line-height: 30px;
    cursor: default;
	font-weight: normal;
	color: #333;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.item-ctn{
	position: absolute;
	right: 0;
	top: 0;
}
.item-content{
	width: 970px;
	background: #fff;
    margin: 0;
    padding-top: 170px;
    padding-bottom: 170px;
    border: 1px solid #e5e5e5;
    line-height: 36px;
    font-size: 18px;
    color: #999;
    text-align: center;
}
/* ******全部订单tab****** */
.item-all{
	margin-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}
.item-all li{
	display: inline-block;
	padding: 0 32px 6px;
	font-size: 20px;
	line-height: 30px;
	cursor: default;
	color: #333;
}
.item-all li.on{
	border-bottom: 3px solid #188eee;
}
.item-all li h1{
	margin-bottom: 0;
	line-height: 30px;
}
.modal-item-header{
	height: 35px;
	line-height: 35px;
}
.modal-item-header span{
	font-size: 14px;
	color: #999;
	text-align: left;
}
.item-modal{
	width: 970px;
	border: 1px solid #e5e5e5;
	background: #fff;
}
.modal-item-header{
	background: #eee;
	border-bottom: 1px solid #e5e5e5;
	padding: 0 12px;
}
span.modal-bar-1{
	margin-right: 500px;
}
span.modal-bar-2{
	margin-right: 115px;
}

.modal-item-content li{
	border-bottom: 1px solid #e5e5e5;
	padding: 13px 12px 15px;
}
.modal-item-content li:last-child{
	border-bottom: none;
}
.modal-item-content li:hover{
	background: #eee;
}
.item-more{
	position: relative;
	width: 480px;
	min-height: 54px;
}
.item-more-img{
	width: 80px;
	height: 54px;
	overflow: hidden;
	background: #ddd;
	margin-right: 10px;
}
.item-more-info p a{
	width: 290px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.item-more-info p span{
	padding-right: 6px;
	cursor: default;
}
.item-name{
	display: inline !important;
}
.item-status{
	width: 88px;
	margin-left: 75px;
	color: #666;
	cursor: default;
}
.item-action{
	width: 76px;
	margin-left: 55px;
}
.item-more a,
.item-action a{
	display: block;
	color: #188eee;
}
.item-date{
	width: 100%;
	color: #999;
	margin-bottom: 10px;
}
/* ******学团tab****** */
#item-team{
	background: #fff;
	/* border-bottom: 1px solid #e5e5e5; */
}
.item-modal-team{
	/* border-top: 0; */
}
#item-team li{
	display: inline-block;
	padding: 0 32px 6px;
	font-size: 16px;
	line-height: 30px;
	cursor: default;
}
#item-team li.on{
	border-top: 3px solid #188eee;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid transparent;
	color: #188eee;
}
#item-team li h1{
	margin-bottom: 0;
	line-height: 30px;
}
.modal-nothing,
.item-modal-team{
	padding: 170px 0;
	text-align: center;
	line-height: 36px;
    font-size: 18px;
    color: #999;
}
.modal-nothing a{
	color: #188eee;
}
/* 购物车 */
.shop{
	border: 1px solid #ddd;
}

/* ********************
		我的主页 
************************/
.homepage{
	padding: 20px;
	background: #f1f1f1;
	margin-bottom: 20px;
}
.user-pic{
	color: #333;
	width: 160px;
	height: 160px;
	background: pink;
	border-radius: 50%;
	overflow: hidden;
}
.user_title{
	margin-left: 20px;
}
.name{
	font-size: 32px;
	color: #333;
	margin-bottom: 20px;
}
.study,
.wealth{
	color: #333;
	margin-bottom:5px;
}
.study span,
.wealth span{
	color: #ff7300;
	margin-left: 5px;
	margin-right: 20px;
}
.set a{
	display: inline-block;
    line-height: 1;
    border-radius: 2px;
    font-size: 14px;
    padding: 0 12px;
    height: 28px;
    line-height: 28px;
    background: #fff;
    background: linear-gradient( #FAFAFA, #F2F2F2);
    border: 1px solid #D9D9D9;
    cursor: pointer;
    text-decoration: none;
    color: #444;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-align: center;
}