*{
	box-sizing: border-box;
}
body{
	background: #edecea;
}
h3{
	color: #4871bf;
	margin-bottom: 20px;
}
a{
	color: #4871bf;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.wrap-friend{
	background: #fff;
}
#header{
	padding-top: 20px;
	height: 120px;
	border-bottom: 1px solid #ddd;
}
.wellcome{
	margin-top: 34px;
	font-size: 14px;
	color: #666;
}
#header a{
	display: block;
    background: url(../img/logo.png) no-repeat;
    width: 297px;
    height: 81px;
}
.content{
	width: 1200px;
	margin: 0 auto;
}

.details-nav li{
	text-align: center;
	color: #188eee;
	display: inline-block;
	padding: 12px 70px;
	cursor: default;
}
.details-nav li.on{
	background: #188eee;
	color: #fff;
}
.details-mod{
	margin-top: 20px;
}

.login p{
	color: #666;
}
.login p a{
	padding: 14px 20px;
	border: 1px solid #ddd;
	margin-left: 20px;
}


.form-group{
	height: 42px;
	margin-top: 10px;
}
label{
	display: inline-block;
    width: 120px;
    text-align: right;
    float: left;
    margin-right: 10px;
    color: rgb(102, 102, 102);
    height: 40px;
    line-height: 40px;
}
.form-group label i{
	color: #FF7300;
    margin-left: 5px;
}
.form-checked{
	display: inline-block;
	width: 320px;
    box-sizing: border-box;
    line-height: 1;
    padding: 0;
    cursor: pointer;
    color: #666;
    font-size: 14px;
    line-height: 16px;
}
.form-checked input{
	position: relative;
	top: 2px;
	width: 16px !important;
	height: 16px !important;
	-webkit-appearance: checkbox;
}

.form-group input{
	display: inline-block;
	width: 320px;
    height: 38px;
    color: rgb(102, 102, 102);
    margin-right: 5px;
    padding: 0px 10px;
    border: 1px solid #ddd;
}
/* #phone_code,
#id_code{
	width: 203px;
} */
.id_code{
	margin-right: 10px;
}
img.id_code{
	cursor: pointer;
}
button{
	display: inline-block;
    width: 210px;
    cursor: pointer;
    height: 44px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255,155,0);
    border-radius: 4px;
    background: rgb(255, 115, 0);
    font: normal 12px/38px 微软雅黑;
}
button.btn_phone_code{
	display: inline-block;
    width: 110px !important;
    height: 40px !important;
    border: 1px solid #dedede;
    text-align: center;
    color: #666;
    background: #F6F6F6;
    cursor: pointer;
    margin-right: 5px;
}
.submit{
	width: 500px;
	height: 42px;
	margin-top: 20px;
	margin-left: 130px;
}
.iferror{
	display: none;
	line-height: 38px;
	color: red;
}
.iferror i{
	font-size: 12px;
}

.city{
	padding-top: 6px;
}
#choice-city{
	height: 30px;
    width: 92px;
    position: relative;
}
#choice-city option{
	line-height: 30px;
}
.bg{
	width: 420px;
	height: 320px;
	margin-top: 40px;
}


.details-mod{
	width: 940px;
	margin: 0 auto;
}


.img-vcode input{
	width: 485px;
}
.img-vcode img{
	right: 128px;
}
p.help-more{
	margin: 0;
}
.mod-course i{
	right: -50px;
}
.file input{
	box-sizing: content-box;
	/* height: 34px; */
	/* border: 0;
	    background: #edecea; */
}

.register-select a{
    width: 100%;
    height: 42px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    line-height: 42px;
    font-size: 16px;
    font-weight: 700;
    background: #4871bf;
    border-radius: 8px;
    cursor: pointer;
    zoom: 1;
    background: linear-gradient( #4871bf, #3962b0);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    color: #fff;
    border: 1px solid #1b4697;
}
.register-select .item-btn{
	margin-bottom: 20px;
}
.register-select .item-btn a{
	text-decoration: none;
}
.register-select .item-btn a:hover{
	background: linear-gradient( #5b89de, #3962b0);
}

.file{
	padding: 10px 0;
	height: 60px;
}
.file{
	position: relative;
}
.file label{
	position: absolute;
	left: 140px;
	text-align: center;
	margin: 0;
}
.file input{
	position:absolute;
	clip:rect(0 0 0 0);
}
.file .help-more{
	position: absolute;
    left: 270px;
    top: 21px;
}
textarea{
	width: 654px;
}

.standard_select{ /*边框*/
	display:inline-block;
	border: 1px solid #ccc;
	padding:5px; /*调整此处改变select高度*/
	background-color: #fff;
	border-radius: 2px;
	margin-right: 4px;
}
.select_shelter{ /*遮挡默认边框*/
	display:inline-block;
	width:100px;
	*width:98px;
	overflow:hidden;
}
.select_shelter select{
	*margin:-2px;
	padding:1px;
	border:0px;
	width:100px; /*select的宽度*/
}
.form-checked input{
	display: inline-block;
}
.phone-vcode{
	position: absolute;
	width: 110px;
    text-align: center;
	top: 0;
    right: -54px;
    height: 34px;
    line-height: 34px;
    background: #188eee;
    border-radius: 0 4px 4px 0;
    color: #fff;
}