/**************
   通用样式
**************/
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    font-size: 12px;
    font-family: "PingFang SC","Microsoft Yahei",arial,\5b8b\4f53,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}
*{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
h3{
    font-size: 16px;
}
a{
	text-decoration: none;
	color: #666;
    font-size: 14px;
}
a:hover{ 
	color: #188EEE;
}
i{
	font-style: normal;
}
ul{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
.blue{
    color: #188EEE;
}
.blue-bg{
    background-color: #188EEE !important;
}
.contain{
	width: 1200px;
	margin: 0 auto;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
.clearfix{
	zoom:1;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.hidden{
    display: none;
}

/*head1*/
#head1{
    font-size: 12px;
    width: 100%;
    height: 36px;
	line-height: 35px;
	/*background-color: #F6F6F6;*/
    color: #333;
    border-bottom: 1px solid #E7E8E7;
}
.head1-left,
.head1-right{
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
}
.head1-left ul li{
	float: left;
	padding-right: 20px;
}
.wellcome span{
    font-size: 14px;
    color: #333;
}
.head1-left ul li a,
.head1-right ul li a{
    color: #333;
}
.head1-left ul li a:hover,
.head1-right ul li a:hover{
    color: #188EEE;
}
.head1-right ul li{
	float: right;
	padding-right: 20px;
}
.head1-wrap-nav{
    position: relative;
}
.head1-wrap-nav .my-platform i{
    display: block;
    position: absolute;
    font-size: 10px;
    width: 12px;
    height: 12px;
    line-height: 13px;
    top: 2px;
    right: 8px;
    margin-left: 2px;
    transition: transform .3s;
    margin-top: 10px;
}
.head1-modal-nav{
    display: none;
    position: absolute;
    width: 120px;
    right: 0;
    top: 35px;
    border: 1px solid #dbdbdb;
    border-top: 0;
    text-align: center;
}
 .head1-wrap-nav{
    cursor: pointer;
    font-size: 14px;
    color: #333;
} 
.head1-wrap-nav:hover .head1-modal-nav{
    display: block;
}
.head1-wrap-nav:hover .my-platform i{
    -webkit-transform: rotate(180deg); 
        -ms-transform: rotate(180deg); 
         -o-transform: rotate(180deg); 
            transform: rotate(180deg); 
}
.head1-modal-nav span{
    display: block;
    border-bottom: 1px solid #dbdbdb;
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
}
.head1-modal-nav span:last-child{
    border-bottom: none;
}
.shopping i,
.shopping span{
    color: #188eee;
}
.shopping i{
    margin-right: 5px;
}

/*head2*/
#head2{
    width: 100%;
    height: 100px;
}
#head2 .contain{
    width: 1200px;
	height: 100px;
}

.head2-logo{
    height: 100px;
    padding-right: 80px;
}
.head2-seach{
    height: 100px;
    width: 450px;
}
a.head2-link-logo{
	display: block;
	/* background: url(../img/logo.png) no-repeat;
    width: 297px;
    height: 81px; */
}
.head2-seach{
	position: relative;
    padding-top: 10px;
    margin-right: 38px;
    margin-left: 20px;
}
.head2-seach-modal{
	width: 450px;
    height: 40px;
    border: 2px solid #188EEE;
    background: #fff;
    position: relative;
    /* overflow: hidden; */
}
.mod-search__input {
    margin: 6px 10px 6px 64px;
    padding: 0;
    width: 360px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    text-indent: 12px;
    border: 0;
    border-left: 1px solid #ececec;
    vertical-align: top;
    outline: none;
}
i.search-more{
    position: absolute;
    left: 44px;
    top: 12px;
    display: inline-block;
    z-index: 2;
    cursor: pointer;
}
a.search-item{
    width: 64px;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ddd; 
    cursor: pointer;
    vertical-align: top;
}
.search-on{
    background: #ddd;
}
a.search-item span{
    display: inline-block;
    position: relative;
    height: 34px;
    width: 62px;
    color: #333;
    font-size: 12px;
    text-indent: 10px;
    line-height: 34px;
    background: #fff; 
}
a.search-item span.hidden{
    display: none;
}
a.search-item span i{
    padding-left: 12px;
}
a.search-btn{
    position: absolute;
    right: -2px;
    top: -2px;
    display: block;
    color: #fff;
    background: #147de2;
    width: 58px;
    height: 40px;
    font-size: 26px;
    padding-left: 18px;
}
/* .mod-search__button{
    margin-left: -4px;
    width: 58px;
    height: 36px;
    background: #188EEE;
    border: none;
    color: #fff;
} */
.seach-word-list a{
	display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
    line-height: 32px;
    font-size: 12px;
    color: #999;
}
.seach-word-list a:hover{
	color: #0264A3;
}

/*wrap-banner*/
.wrap-litter-banner{
	width: 980px;
    height: 48px;
    margin: 0 auto;
    position: relative;
    left: 110px;
    /* z-index: 3; */
}
.wrap-litter-banner ul{
    margin-left: 11px;
}
.wrap-litter-banner ul li{
	display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 14px 16px 10px 9px;
    font-size: 16px;
    color: #333;
}
.wrap-banner-bg{
	height: 300px;
    /* background: #3d9193; */
    overflow: visible;
    position: relative;
    z-index: 2;
    background: url(../img/bk.jpg) repeat;
    width: 100%;
    margin: 0 auto;
}
.wrap-nav-box{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.modal-nav{
	width: 220px;
	position: absolute;
	top: -50px;
	left: 0;
	z-index: 3;
}
.modal-nav h3{
    margin: 0;
}
.modal-nav-list{
	width: 220px;
}
.modal-nav-li-first{
	height: 50px;
	line-height: 50px;
    width: 220px;
    background: #188EEE;
    padding-left: 15px;
    padding-top: 12px;
}
.modal-nav-li{
	position: relative;
    height: 70px;
    width: 220px;
    background: #0477C0;
    border-bottom: 1px solid #1681C4;
    transition: .3s;
}
.modal-nav-li:hover{
	background: #0264A3;
}
.modal-nav-li:hover h3 a i{
    color: #fff;
}
.modal-nav-li-first h3 a,
.modal-nav-li h3 a{
    font-size: 16px;
	color: #fff;
    font-weight: normal;
}
.modal-nav-li-first h3 a i{
    font-size: 22px;
    margin-right: 8px;
    position: relative;
    top: 2px;
}
/* .modal-nav-li-first h3 a:hover, */
.modal-nav-li h3 a:hover,
.modal-nav-li-title a:hover{
	text-decoration: underline;
}
.modal-nav-li-title{
	padding: 3px 0 20px 15px;
    height: 16px;
    overflow: hidden;
}
.modal-nav-li-title a{
	display: inline-block;
    vertical-align: middle;
	color: #97D2F7;
	margin-right: 8px;
}
.modal-nav-li-title a:hover{
    color: #fff;
}
.modal-nav-li-head h3{
    width: 100%;
	display: inline-block;
	padding: 11px 10px 0 15px;
}
.modal-nav-li-head h3 a i{
    font-size: 12px;
    color: #4a9dcf; 
    font-weight: normal;
}
.modal-nav_modal-nav-side{
    display: none;
    min-height: 420px;
    position: absolute;
    left: 220px;
    top: 50px;
    border: 2px solid #09699C;
    width: 980px;
    padding: 0 0 0 30px;
    background-color: #000;
    background: rgba(255,255,255,.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5ffffff,endColorstr=#E5ffffff);
    font-size: 14px;
}
.modal-nav_modal-nav-side ul li{
	width: 720px;
	padding: 15px 0 12px;
	border-bottom: 1px solid #E5E5E5;
}
.modal-nav-side-head{
	display: inline-block;
	width: 110px;
	text-align: left;
	font-weight: 700;
	color: #039AE3;
}
.modal-nav-side-title{
	display: inline-block;
	width: 590px;
    vertical-align: middle;
    color: #333;
    margin-right: 20px;
    text-align: left;
    vertical-align: top;
    margin-bottom: 3px;
}
.modal-nav-side-title a{
	display: inline-block;
    vertical-align: middle;
    color: #333;
    margin-right: 20px;
    text-align: left;
    vertical-align: top;
    margin-bottom: 3px;
}
.modal-nav-side-title a:hover{
    color: #188eee;
}

.modal-nav-side-oprate{
    float: right;
    display: inline;
    width: 220px;
    padding: 12px 10px 7px 15px;
    background: #ddd;
}
.oprate-banner{
	width: 100%;
	height: 90px;
	overflow: hidden;
	background: #eee;
	margin-bottom: 10px;

}

/*登录板块*/
.wrap-login{
	position: absolute;
	top: 20px;
	right: 0;
	width: 220px;
    height: 260px;
    background: rgba(255,255,255,.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5ffffff,endColorstr=#E5ffffff);
}
.wrap-modal-login{
	width: 180px;
	margin: 0 auto;
}
.modal-login-welcome{
	color: #333;
    font-size: 16px;
    text-align: center;
    width: 180px;
    padding-top: 30px;
}
.modal-login-hi{
    background: url(../img/userinfo-hi.png) no-repeat;
    width: 114px;
    height: 114px;
    margin: 16px auto;
}
.modal-login-btn{
    display: block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: #188eee;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}
.modal-login-btn:hover{
    background-color: #147de2;
    color: #fff;
}
.modal-login-btn:active {
    background-color: #1774c9;
    color: #fff;
}
/* 登陆弹窗 */
.modal-login-all{
    display: none;
}
.modal-login-all-bg{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    filter: alpha(opacity=60);
    opacity: 0.6;
    z-index: 10;

}
.modal-login-all-title{
    position: fixed;
    width: 520px;
    height: 390px;
    background: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 20;
    text-align: center;
}
.close{
    width: 50px;
    height: 50px;
}
.close i:hover{
    background: #188eee;
    color: #fff;
}
.close i{
    display: inline-block;
    color: #666;
    font-size: 12px;
    margin-top: 10px;
    padding: 4px;
    width: 47px;
    height: 20px;
    cursor: pointer;
}
.login-safe{
    margin: 50px auto 16px;
    font-size: 20px;
    color: #333;
}
.login-title{
    font-size: 16px;
    color: #666;
    margin-bottom: 36px;
}
.login-title a{
    color: #188EEE;
}
.login-tips{
    margin-bottom: 24px;
}
.login-tips-item{
    display: inline-block;
    text-align: center;
    width: 100px;
}
.login-tips-item img{
    width: 100px;
    height: 100px;
    background: #ddd;
}
.login-tips-item span{
    width: 100px;
    height: 24px;
    line-height: 24px;
    color: #666;
    cursor: default;
}
.login-way,.login-other{
    text-align: right;
    padding: 0 10px;
}
.login-way{
    padding-bottom: 8px;
    border-bottom: 2px solid #eee;
}
.login-other p{
    line-height: 34px;
    color: #666;
    font-size: 14px;
    cursor: default;
}
/* 右侧登陆框登录之前 */
.wrap-modal-login{
    padding: 20px 0;
}
.mod-after img{
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.mod-after span{
    display: inline-block;
    line-height: 30px;
    margin-top: 20px;
}


/* 轮播图 */
.wrap-big-banner{
    position: absolute;
    left: 220px;
}
.modal-big-banner{
    position: relative;
    width: 760px;
    height: 300px;
    overflow: hidden;
}
ul.modal-big-banner-list{
    position: absolute;
    /* width: 3800px; */
}
ul.modal-big-banner-list li{
    display: block;
    /* float: left; */
}
.modal-big-banner-btn{
    position: absolute;
    border-radius: 24px;
    background: rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000, endColorstr=#19000000);
    zoom: 1;
    padding: 0 20px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    bottom: 15px;
    left: 50%;
    margin-left: -70px;
}
.modal-big-banner-btn ul{
    margin-top: -1px;
    display: inline-block;
}
.modal-big-banner-btn ul li{
    display: inline-block;
    vertical-align: middle;
    vertical-align: baseline;
    margin-bottom: -2px;
    border-radius: 6px;
    border: 1px solid #fff;
    border: 1px solid rgba(255,255,255,.6);
    width: 10px;
    height: 10px;
    margin-right: 5px;
    cursor: pointer;
}
.modal-big-banner-btn ul li.on{
    background: #fff;
}
.modal-big-banner-btn2{
    position: absolute;
    top: 110px;
    padding: 0 10px;
    width: 100%;
}
.modal-big-banner-btn2 span{
    display: none;
    width: 46px;
    height: 70px;
    cursor: pointer;
    color: #fff;
    background-color: rgba(0,0,0,.6);
}

/***********
   推荐课程
***********/
.wrap-active{
    width: 1200px;
    margin: 0 auto;
    height: 121px;
}
.modal-active{
    width: 1200px;
    height: 121px;
    margin: 0 auto;
    border-bottom: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    overflow: hidden;
}
.wrap-active a{
    width: 326px;
    height: 121px;
}
/****************************
     热门课程，推荐课程
*****************************/
.modal-like{
    width: 1225px;
    margin: 0 auto;
    padding-top: 40px;
}
.modal-like-head{
    margin: 0 12px;
    cursor: default;
    color: #202020;
    border-bottom: 1px solid #DDD;
    padding-bottom: 16px;
}
h3.modal-like-title{
    font-size: 22px;
    display: inline-block;
}
.modal-like-head a.pull-right{
    margin-top: 12px;
}
.modal-like-head a.pull-right i{
    color: #666;
}
.modal-like-head a.pull-right span{
    margin-left: 4px;
}
.modal-like-box{
    padding-top: 30px;
}
.modal-like-box .modal-like-list li.modal-like-item{
    float: left;
    width: 236px;
    padding: 7px 7px 10px;
    border: 1px solid transparent;
    position: relative;
    margin-left: 9px;
}
.modal-like-box .modal-like-list li.modal-like-item:hover{
    border-color: #ddd;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.2);
}
.item-status{
    position: absolute;
    height: 24px;
    width: 220px;
    padding: 0 4px;
    line-height: 24px;
    top: 115px;
    color: #fff;
    z-index: 1;
    background: rgba(0,0,0,.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.modal-like-item p{
    margin-bottom: 8px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    cursor: default;
    height: 40px;
}
.item-line .price{
    color: #e85308;
    font-size: 16px;
}
.item-line .source{
    text-align: right;
    display: inline-block;
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.item-line .source a{
    color: #999;
    font-size: 12px;
}
.item-line .source a:hover{
    color: #188EEE;
}
/*********************
    金牌培训机构
*********************/
.modal-link-box{
    position: relative;
}
.modal-like-link{
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    max-width: 240px;
    width: auto!important;
    max-height: 434px;
    height: auto!important;
    top: 38px;
    left: -5px;
    overflow: hidden;
}
.modal-train-list{
    width: 980px;
    margin-left: 242px;
}
.modal-train-list li{
    margin-bottom: 20px;
}

.modal-like-item{
    min-height: 222px;
}
/*********************
    热点新闻
*********************/
.modal-news-box{
    padding-top: 30px;
}
.modal-news-mech{
    width: 350px;
}
.modal-news-mech-list li{
    border-bottom: 1px dotted #ddd;
    height: 30px;
    line-height: 30px;
}
span.data{
    font-size: 12px;
    color: #666;
}
.modal-news-mech-img{
    width: 350px;
    height: 210px;
    overflow: hidden;
}

.modal-news-hot{
    padding-left: 38px;
    width: 290px;
}
.modal-news-hot h3{
    font-size: 18px;
    color: #666;
}
.modal-news-hot ul{
    padding-top: 10px;
}
.modal-news-hot ul li{
    width: 233px;
    overflow: hidden;
    height: 30px;
    overflow: hidden;
    /*border-bottom: 1px dotted #ddd;*/
}
.modal-news-mech-list li span,
.modal-news-hot li span{
    float: left;
    padding-right: 6px;
    font-size: 14px;
    cursor: default;
}
.modal-news-hot-item ul li span{
    float: left;
    margin-right: 4px;
    padding-right: 1px;
    text-align: center;
    color: #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #666;
}
.modal-news-hot li a,
.modal-news-hot-item li a,
.modal-news-mech-list li a{
    float: left;
    display: block;
    width: 192px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.modal-news-hot li a{
    width: 156px;
}

/*********************
    more
*********************/
.wrap-more{
    width: 100%;
    height: auto;
    padding: 80px 0 50px 0;
}
.modal-more-icon{
    width: 120px;
    height: 120px;
    margin-left: 70px;
    padding: 80px 0 50px 0;
}
.modal-more-icon_1{
    background: url(../img/renz_1.png) no-repeat;
}
.modal-more-icon_2{
    background: url(../img/renz_2.png) no-repeat;
}
.modal-more-icon_3{
    background: url(../img/renz_3.png) no-repeat;
}
.modal-more-item{
    display: inline-block;
    text-align: left;
    width: 33%;
}
.modal-more-title{
    margin-top: 30px;
    cursor: default;
}
.modal-more-title h3{
    font-size: 18px;
    color: #333;
}
.modal-more-title p{
    color: #666;
}
/*********************
    友情链接
*********************/
.wrap-friend{
    position: relative;
    background: #282828;
    width: 100%;
    height: auto;
    padding: 35px 0 20px 0;
}
.modal-friend h3{
    display: inline-block;
    color: #666;
    margin-bottom: 20px;
}
.modal-friend ul{
    padding-top: 10px;
    border-top: 1px solid #666;
}
.modal-friend ul li{
    float: left;
    margin-right: 20px;
    line-height: 24px;
}
.modal-friend-icon{
    /*position: absolute;*/
    background: url(../img/solid.png) no-repeat;
    width: 100px;
    height: 67px;
    margin: 20px auto 10px;
    padding-top: 20px;
}
.modal-friend-information{
    text-align: center;
    color: #666;
}

/* **********************
        go to top 
************************ */
.top{
    position: fixed;
    padding: 0 5px;
    top: 50%;
    right: 0;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.3);
    z-index: 10;
}
.top li{
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.top li:hover i{
    color: #188eee;
}
.top li.bn{
    border: 0;
}
.top li i{
    color: #666;
    font-size: 16px;
}



#carousel-example-generic{
    /* display: none; */
}
.container-fluid{
    padding: 0;
}
.container-fluid{
    position: relative;
}
.box-big-banner{
    position: absolute;
    right: 0;
    width: 1000px;
}
.carousel-control.left i,
.carousel-control.right i{
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
button.btn{
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}
#collapseExample{
    position: absolute;
    top: 70px;
    width: 100%;
}
.well{
    border-radius: 0 !important;
}
.well li a{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}
li.well-login{
    line-height: 44px;
}
li.well-login a i.pull-left{
    font-size: 24px;
    margin-right: 5px;
}
/* ========================================媒体查询======================================== */
 @media (max-width: 768px) { 
    body{
        background: #eee;
    }
    #head1{
        display: none;
    }
    #head2{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 100px;
        z-index: 99;
        background: #eee;
        border-bottom: 1px solid #ddd;
    }
    #head2 .btn{
        display: block !important;
    }
    .head2-seach{
        display: none;
    }
    .head2-logo img{
        width: 50%;
        padding-top: 10px;
    }
    .head2-logo,
    #head2 .contain,
    #head2{
        height: 70px;
    }
    .head2-logo{
        padding-right: 0;
    }
    #head2 .contain{
        width: 100%;
    }
    #carousel-example-generic{
        display: block;
    }
    .box-big-banner{
        position: static;
        width: 100%;
    }
    .wrap-big-banner{
        display: none;
    }
    .wrap-banner{
        margin-top: 70px;
    }
    .wrap-litter-banner{
        display: none;
    }
    .wrap-big-banner{
        position: static;
    }



    .wrap-nav-box,
    .modal-big-banner,
    ul.modal-big-banner-list,
    ul.modal-big-banner-list img{
        width: 100%;
    }
    .wrap-banner-bg{
        height: 100%;
    }
    

    .modal-like,
    .modal-train-list{
        width: 100%;
    }
    .modal-like{
        padding: 10px 15px 0 15px;
    }
    .modal-like-box .modal-like-list li.modal-like-item{
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
        width: 50%;
    }
    .modal-like-item img{
        width: 100%;
    }
    .item-status{
        display: none;
    }
    .modal-like-link{
        display: none;
    }
    .modal-like-list{
        margin-left: 0;
    }
    .modal-nav{
        display: none;
    }
    .wrap-active,
    .modal-active{
        width: 100%;
        height: 100%;
    }
    .modal-active a{
        width: 33.333333333333%;
        height: 33.333333333333%;
    }
    .modal-active a img{
        width: 100%;
    }

    .wrap-more,.news,.top{
        display: none;
    }
    .modal-like-box .modal-like-list li.modal-like-item{
        padding: 0;
        margin: 0;
        min-height: 180px;
    }
    .box-item{
        margin: 5px;
        padding: 5px;
        background: #fff;
        box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
    }
    .modal-link-box{
        margin-bottom: 40px;
        padding-top: 0;
    }
    .modal-like-head{
        padding-bottom: 0;
    }
    .item-line{
        text-align: center;
    }
} 

