/**************
   通用样式
**************/
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    font-size: 12px;
    font-family: "PingFang SC","Microsoft Yahei",arial,\5b8b\4f53,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}
body{
	background: #f3f3f3;
	position: relative !important;
	overflow: scroll;
	min-height: 100%;
	padding-bottom: 180px;
}
*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
h3{
    font-size: 16px;
}
a{
	text-decoration: none;
	color: #333;
    font-size: 14px;
}
a:hover{ 
	color: #188EEE;
}
i{
	font-style: normal;
}
ul{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
.blue{
    color: #188EEE;
}
.blue-bg{
    background-color: #188EEE !important;
}
.contain{
	width: 1200px;
	margin: 0 auto;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
.clearfix{
	zoom:1;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.hidden{
    display: none;
}
.contant{
	width: 1200px;
	margin: 0 auto;
}

#header{
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
}


/* **************
	顶部通栏
***************** */
.header-logo a{
	background: url(../img/logo.png) no-repeat;
	background-size: auto 32px;
	display: block;
	height: 32px;
	width: 90px;
}
/* .header-login, */
.header-logo,
.header-nav{
	padding: 20px 0;
}
.header-nav ul li{
	display: inline-block;
	padding: 0 10px;
	line-height: 32px;
}
.head2-seach{
	position: relative;
	padding: 20px 10px 20px 0;
}
.head2-seach-modal{
	width: 450px;
    height: 32px;
    border: 2px solid #188EEE;
    background: #fff;
    position: relative;
    /* overflow: hidden; */
}
.mod-search__input {
    margin: 3px 10px 3px 64px;
    padding: 0;
    width: 360px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    text-indent: 12px;
    border: 0;
    border-left: 1px solid #ececec;
    vertical-align: top;
    outline: none;
}
i.search-more{
    position: absolute;
    left: 44px;
    top: 9px;
    display: inline-block;
    z-index: 2;
    cursor: pointer;
}
a.search-item{
    width: 64px;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ddd; 
    cursor: pointer;
    vertical-align: top;
}
.search-on{
    background: #ddd;
}
a.search-item span{
    display: inline-block;
    position: relative;
    height: 26px;
    width: 62px;
    color: #333;
    font-size: 12px;
    text-indent: 10px;
    line-height: 26px;
    background: #fff; 
}
a.search-item span.hidden{
    display: none;
}
a.search-item span i{
    padding-left: 12px;
}
a.search-btn{
    position: absolute;
    right: -2px;
    top: -2px;
    display: block;
    color: #fff;
    background: #147de2;
    width: 58px;
    height: 32px;
    font-size: 24px;
    padding-left: 18px;
}

/* .seach-word-list a{
	display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
    line-height: 32px;
    font-size: 12px;
    color: #999;
}
.seach-word-list a:hover{
	color: #0264A3;
} */


.login-item{
	line-height: 32px;
	padding: 20px 8px;
	cursor: default;

}
/* login-user */
.login-user{
	position: relative;
}
.login-user:hover .modal-user{
	display: block;
}
.login-user span{
	padding-left: 6px;
	cursor: default;
}
.login-user span i{
	position: absolute;
	transition: transform .3s;
	top: 22px;
    right: -7px;
}
.login-user:hover span i{
	-webkit-transform: rotate(180deg); 
        -ms-transform: rotate(180deg); 
         -o-transform: rotate(180deg); 
            transform: rotate(180deg); 
}
.modal-user{
	display: none;
	position: absolute;
	top: 72px;
	z-index: 2;
	background: #fff;
}
.modal-user ul{
	border:1px solid #E0E0E0;
}
.modal-user ul li{
	text-align: center;
	width: 100%;
	display: inline-block;
	line-height: 30px;
}
.modal-user ul li:hover{
	background: #ddd;
}
.modal-user ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
.login-img{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	overflow: hidden;
	padding-right: 6px;
}



/*********************
    友情链接
*********************/
.wrap-friend{
	position: absolute;
	bottom: 0;
	margin-top: 50px;
    background: #282828;
    width: 100%;
    height: auto;
    padding: 28px 0 20px 0;
}
.modal-friend-icon{
    /*position: absolute;*/
    background: url(../img/solid.png) no-repeat;
    width: 100px;
    height: 67px;
    margin: 20px auto 10px;
    padding-top: 20px;
}
.modal-friend-information{
    text-align: center;
    color: #666;
}