.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
/* ====================课程列表==================== */
/* .modal-like-box{
    padding-top: 30px;
}
.modal-like-box .modal-like-list li.modal-like-item{
    float: left;
    width: 236px;
    min-height: 222px;
    padding: 7px 7px 10px;
    border: 1px solid transparent;
    position: relative;
    margin-left: 9px;
}

.item-line .source{
    text-align: right;
    display: inline-block;
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.item-line .source a{
    color: #999;
    font-size: 12px;
}
.item-line .source a:hover{
    color: #188EEE;
}
.header-list{
    color: #333;
    margin: 40px 0 10px 7px;
}
.box-list{
    margin-bottom: 20px;
}

.modal-like-item{
    float: left;
    width: 236px;
    padding: 7px 7px 10px;
    border: 1px solid transparent;
    position: relative; 
    margin-right: 4px;
}
.modal-like-item:hover{
    border-color: #ddd;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.2);
}
.item-status{
    position: absolute;
    height: 24px;
    width: 220px;
    padding: 0 4px;
    line-height: 24px;
    top: 115px;
    color: #fff;
    z-index: 1;
    background: rgba(0,0,0,.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.modal-like-item p{
    margin-bottom: 8px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 38px;兼容ie超出隐藏
    overflow: hidden;
}
.item-line .price{
    color: #e85308;
    font-size: 16px;
} */

button.btn{
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}
#collapseExample{
    position: absolute;
    top: 70px;
    width: 100%;
}
.well{
    border-radius: 0 !important;
}
.well li a{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}
li.well-login{
    line-height: 44px;
}
li.well-login a i.pull-left{
    font-size: 24px;
    margin-right: 5px;
}
@media (max-width: 768px) { 
    body{
        background: #eee;
    }
    .head2-logo{
        width: 220px;
    }
    #head2 .contain{
        padding: 0;
    }
   
    .modal-like-item img{
        width: 100%;
    }
    .item-status{
        display: none;
    }
    .modal-like-link{
        display: none;
    }
    .modal-like-list{
        margin-left: 0;
    }
    .modal-nav{
        display: none;
    }
    .wrap-active,
    .modal-active{
        width: 100%;
        height: 100%;
    }
    .modal-active a{
        width: 33.333333333333%;
        height: 33.333333333333%;
    }
    .modal-active a img{
        width: 100%;
    }

    .wrap-more,.news,.top{
        display: none;
    }
    .modal-like-box .modal-like-list li.modal-like-item{
        padding: 0;
        margin: 0;
        min-height: 180px;
    }
    .box-item{
        margin: 5px;
        padding: 5px;
        background: #fff;
        box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
    }
    .modal-link-box{
        margin-bottom: 40px;
        padding-top: 0;
    }
    .modal-like-head{
        padding-bottom: 0;
    }
    .item-line{
        text-align: center;
    }

    .contain,.aside-left{
        width: 100% !important;
    }
    .contain{
        padding: 0 15px;
    }
    .modal-like-item{
        margin-right: 0;
        width: 50% !important;
        float: left;
        margin-bottom: 0 !important;
        padding: 0;
    }
} 
/* ====================机构列表==================== */
.company-list li{
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.company-img{
    width: 220px;
    height: 124px;
}
.company-title{
    width: 428px;
    padding: 10px 20px;
}
.company-title p{
    margin-bottom: 20px;
    color: #666;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 32px;/* 兼容ie超出隐藏 */
    overflow: hidden;
}
.company-title h3{
    margin-bottom: 5px;
}
.company-title span{
    font-size: 14px;
    color: #666;
}
.att{
    padding: 20px 0 0 0;
}
.att p{
    margin-bottom: 10px;
    color: #666;
}
.att a{
    font-size: 12px;
    color: #ffb200;
}
.item-line span{
    color: #666;
}
/* ====================page 翻页==================== */
.page-wrap{
    margin-top: 20px;
    text-align: center;
}
.page-box a{
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    margin-right: 5px;
}
.page-box a.on{
    background: #188eee;
    color: #fff;
}

/* ======================coordinate====================== */
.info-star i {
    font-size: 14px;
    color: #ffb200;
    cursor: default;
}
/* ======================coordinate====================== */
.coordinate {
    padding: 10px 20px 10px 0;
}
.coordinate i {
    padding: 0 5px;
}

/* ======================form表单====================== */
.wrap-course {
    padding: 10px;
}
.mod-course label {
    float: left;
    width: 120px;
    text-align: right;
    line-height: 34px;
    padding-right: 0px;
    font-size: 14px;
}
.mod-course .title {
    float: left;
}
.title {
    position: relative;
    width: 420px;
}
.title i{
    top: 0;
    right: 0;
}
.title select {
    display: inline-block;
    width: 136px;
}
select{
    display: block;
    width: 100%;
    /* height: 34px; */
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #787d82;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}
input,textarea {
    box-sizing: content-box;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #787d82;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}
/* textarea{
    padding: 6px 0;
} */
.empty{
    width: 10px;
    height: 10px;
}
.vcode{
    width: 300px;
}
.add-photo{
    display: inline-block;
    width: 60px !important;
    height: 60px !important;
    line-height: 60px;
    border: 1px solid #ddd;
    background: #f6f6f6;
    cursor: default;
    overflow: hidden;
}
.has-add-photo{
    border:0;
}
.add-photo i{
    position: static !important;
    font-size: 42px;
    color: #a4a4a4;
    padding: 0 7px !important;
    line-height: 60px !important;
}
.add-photo img{
    width: 60px;
    height: 60px;
}
.title p{
    color: #666;
    margin: 10px 0;
}

/* ======================form表单 error success ====================== */
.mod-course{
    position: relative;
}
.mod-course i{
    position: absolute;
    right: 0;
    line-height: 34px;
    padding: 0 12px;
    
}
.has-error .error{
    display: block !important;
}
.has-success .success{
    display: block !important;
}
.has-error .mod-course i{
    color: #a94442;
}
.mod-course input{
    padding-right: 40px;
}
.has-error input{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
}
.has-error input:focus{

}
.has-success input{
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
}
.has-success .mod-course i{
    color: #3c763d;
}

.form-group {
    height: 42px;
    margin-top: 10px;
}
.form-group label{
    display: inline-block;
    width: 120px;
    text-align: right;
    float: left;
    margin-right: 10px;
    color: rgb(102, 102, 102);
    height: 40px;
    line-height: 40px;
}
.form-checked {
    display: inline-block;
    box-sizing: border-box;
    line-height: 1;
    padding: 0;
    cursor: pointer;
    color: #666;
    font-size: 14px;
    line-height: 16px;
}
.form-group input {
    display: inline-block;
    width: 320px;
    height: 38px;
    color: rgb(102, 102, 102);
    margin-right: 5px;
    padding: 0px 10px;
    border: 1px solid #ddd;
}
.form-checked input {
    position: relative;
    top: 2px;
    width: 16px !important;
    height: 16px !important;
    -webkit-appearance: checkbox;
}

input[type=date]{
    padding-right: 0;
}
.search-fm{
    margin-bottom: 40px;
}

/* ====================== 按钮 ====================== */
.btn-primary{
    display: inline-block;
    text-align: center;
    height: 34px;
    line-height: 34px;
    padding: 0px 16px;
    font-size: 14px;
    border-radius: 2px;
    color: #fff;
    background-color: #188eee;
    /* border: 1px solid #2e6da4 !important; */
}
.btn-primary:hover{
    background: #0e78ce;
    color: #fff;
}
.btn-primary:hover,
.btn-primary:hover a{
    text-decoration: none !important;
}
.btn-default{
    display: inline-block;
    text-align: center;
    height: 34px;
    line-height: 34px;
    width: 70px;
    font-size: 14px;
    border-radius: 2px;
    color: #333 !important;
    background-color: #fff;
    border-color: #ccc;
    border:1px solid #c5c5c5 !important;
}
.btn-default:hover{
    border: 1px solid #666;
    background: #ddd;
}
a.btn{
    color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid transparent;
    outline: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 2px;
    text-decoration: none;
}
.ui-primary{
    line-height: 40px;
    padding: 0px 0px;
    font-size: 14px;
    border-radius: 2px;
    color: #fff;
    background-color: #188eee;
}
.ui-primary:hover{
    background-color: #0e78ce;
}

/* ===============test begin=============== */
/* .list{
    margin-top: 10px;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
} */
.wrap-list{
    /* width: 1224px;
    margin: 0 -15px;
    margin-left: -12px; */
}
.wrap-list .item-list{
    width: 236px;
    /* width: calc(20%); */
    border: 2px solid #fff;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #fff;
}
.wrap-list .item-list:hover{
    border: 2px solid #fff; 
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.2);
}
.box-item{
    width: 220px;
    /* padding: 10px 10px 15px 10px; */
    background-color: #fff;
    margin: 0 auto;
    padding: 10px 0;
}
.list-img{
    position: relative;
}
.list-img .list-status{
    position: absolute;
    padding: 6px 0px 0 0;
    width: 220px;
    bottom: 0;
    left: 0;
    color: #fff;
    cursor: default;
    background-color: rgba(0,0,0,.2);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
}
.list-img .list-status span{
    width: 100%;
    display: inline-block;
    padding: 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box-item .list-titl{
    height: 40px;
    width: 220px;
    padding: 0 4px;
    margin: 5px 0 12px 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.list-line{
    width: 220px;
    height: 22px;
    padding: 0 4px;
}
.list-line .source {
    text-align: right;
    display: inline-block;
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.list-line .source a{
    font-size: 12px;
}
.list-line .price{
    color: #e85308;
    font-size: 16px;
    cursor: default;
}
.list-line .source a{
    color: #9E7E6B;
}
.list-line .source a:hover{
    text-decoration: underline;
}
.list-titl a{
    color: #444 !important;
}