#main{
	background: url(../img/bg_2_02.jpg) no-repeat;
	/* width: 1920px;
	height: 1182px; */
	padding-top: 40px;
	margin: 0 auto;
}
.aside-right{
	width: 389px;
	height: 620px;
	background: #90c41f;
	padding: 0 20px;
}
.content{
	padding: 20px 30px;
	background: #fff;
}
h3.text-center{
	color: #fff;
	line-height: 90px;
}

.join{
	margin-top: 35px;
	background: #90c41f;
}
.join-box{
	padding: 30px 50px;
}
.join-box .col-md-4{
	padding: 0;
}
.item{
	/* float: left;
	width: 33.33333333333%; */
	border: 1px solid #fff;
	padding: 42px;
	color: #fff;
	margin: 0 10px;
	height: 215px;
}
.content p{
	font-size: 16px;
	color: #666;
}