.wrap-banner{
	position: relative;
	margin: 0 auto 70px;
	width: 1200px;
}
.wrap-banner h3{
	color: #666;
	margin-bottom: 20px;
}
.wrap-banner p{
	color: #8c8c8c;
}
.title1, .title2, .title3, .title4{
	position: absolute;
}
.title1{
	left: 340px;
	top: 40px;
}
.title2{
	left: 950px;
	top: 40px;
}
.title3{
	left: 60px;
	top: 260px;
}
.title4{
	left: 650px;
	top: 260px;
}
.banner{
	width: 1920px;
	margin: 0 auto 50px;
}