p{
	font-size: 16px;
    line-height: 1.5;
    color: #8c8c8c;
}
ul , li{
	padding: 0;
	margin: 0;
	outline: none;
	list-style: none;
}

.item{
	/* background: red; */
}
.item-img{
	max-width: 150px;
	margin: 0 auto;
}
.item h4{
	font-size: 24px;
	color: #8e5324;
}
.bl_7{
	max-width:1920px;
	margin: 0 auto; 
}
#main .fi,
#main .fg{
	margin-bottom: 120px;
}
#main .fi img{
	margin-bottom: 25px;
}
h4.text-center{
	color: #8c8c8c;
}
/* ***********轮播图*********** */
#myCarousel{
	position: relative;
}
.item img{
	margin: 0 auto;
}
.carousel-control{
	position: absolute;
	width: 40px;
	height: 80px;
	background: #000;
	top: 200px;
	padding: 22px 0;
}


#main{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.wrap-carousel{
	position: relative;
	width: 1920px;
	height: 700px;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
	left:50%;
	margin-left:-960px;
}
#myCarousel{
	width: 880px;
	margin: 0 auto;
}
.carousel-inner{
	width: 787px;
	margin: 0 auto;
}

.slideShow{
 width: 786px;
 height: 600px; /*其实就是图片的高度*/
 margin: 100px auto;
 position: absolute;
 overflow: hidden; /*此处需要将溢出框架的图片部分隐藏*/
 margin: 0 auto;
}
.slideShow-center{
	left: 50%;
	margin-left: -393px;
}
.slideShow-center ul li{
	float: left;
	width: 786px !important; 
}
.slideShow-right{
	right: 0 !important;
}
.slideShow-left{
	left: 0 !important;
}
.slideShow-right,
.slideShow-left{
	position: absolute;
	width: 540px;
	top: 120px;
	/* width: 540px; */
	filter: (opacity=70);
	opacity: 0.7;
	overflow: hidden;
}
.slideShow-right ul,
.slideShow-left ul{
	width: 2620px;
	position: relative;
}
.slideShow-right ul li,
.slideShow-left ul li{
	float: left;
	width: 540px;
}

.slideShow ul{
 width: 3500px;
 position: relative; /*此处需注意relative : 对象不可层叠，但将依据left，right，top，bottom等属性在正常文档流中偏移位置，如果没有这个属性，图片将不可左右移动*/
}
.slideShow-left ul,
.slideShow-right ul,{
 width: 1620px;
 position: relative; /*此处需注意relative : 对象不可层叠，但将依据left，right，top，bottom等属性在正常文档流中偏移位置，如果没有这个属性，图片将不可左右移动*/
}

.slideShow .showNav{ /*用绝对定位给数字按钮进行布局*/
 position: absolute;
 left: 0;
 margin-left: 393px;
 bottom: 25px;
 text-align:center;
 font-size: 12px; 
 line-height: 20px;
}
.slideShow .showNav span{
 cursor: pointer;
 display: block;
 float: left;
 width: 20px;
 height: 20px;
 border-radius: 50%;
 background: #ebebeb;
 margin-left: 2px;
 color: #fff;
}
.slideShow .showNav .active{
 background: #90c41f;
}

.btn-item{
	position: absolute;
	display: inline-block;
	/* background: rgba(0,0,0,.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
	color: #fff; */
	cursor: default;

}
.btn-item:hover{
	filter: (opacity=70);
	opacity: 0.7;
}
.pre{
	left: 507px;
	top: 260px;
	z-index: 10;
}
.next{
	right: 507px;
	top: 260px;
	z-index: 10;
}

